<div class = "singlemovieright">
  <h1>{{movie.title}} || Room: {{movie.room}}</h1>
</div>
<img src="{{movie.poster}}">
<div class="singlemovie">
  <h4>Synopsis:</h4>
  <p>{{movie.synopsis}}</p>
  <h4>Genres</h4>
  <ul *ngFor="let genre of movie.genres">
    <li>{{genre}}</li>
  </ul>
  <h4>Director:</h4>
  <p>{{movie.director}}</p>
  <h4>Actors:</h4>
  <ul *ngFor="let actor of movie.actors">
    <li>{{actor}}</li>
  </ul>
  <h4>Showing Times:</h4>
  <ul *ngFor="let showingTime of movie.showingTimes">
    <li>{{showingTime}}</li>
  </ul>
</div>

<a [routerLink]="['/home']" routerLinkActive="router-link-active">Return to Movie List</a>