/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*, body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    background-color:rgb(58, 68, 94);
    color: rgb(208, 205, 205);
}